.feedback-area {
    min-height: 70vh;
    margin-top: 5rem;
}

.feedback-container {
    margin: 0 5rem;
}

.feedback-box {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    background-color: #fff;
    max-height: 200px;
    overflow: auto;
}

@media (max-width: 768px) {
    .feedback-container {
        margin: 0 3rem;
    }
}

@media (max-width: 576px) {
    .feedback-container {
        margin: 0 1rem;
    }
}