.order-form-area {
    background-color: #E5E5E5;
    min-height: 89vh;
}

.form-control {
    margin-bottom: 1rem;
}

.order-form {
    width: 70%;
    padding: 3rem;
}

.order-form .form-control {
    width: 100%;
}