.introduction {
    margin: 5rem 10rem;
}

@media (max-width: 992px) {
    .introduction {
        margin: 3rem 8rem;
    }
    .introduction h1 {
        font-size: 1.8rem;
    }
    .introduction p {
        font-size: 1rem;
    }
    .introduction button {
        font-size: 1rem;
        padding: .7rem 2rem;
    }
}

@media (max-width: 768px) {
    .introduction {
        margin: 2rem 5rem;
    }
    .introduction h1 {
        font-size: 1.5rem;
    }
    .introduction p {
        font-size: 1rem;
    }
    .introduction button {
        font-size: 1rem;
        padding: .5rem 2rem;
    }
}

@media (max-width: 576px) {
    .introduction {
        margin: 1rem 3rem;
    }
    .introduction h1 {
        font-size: 1.2rem;
    }
    .introduction p {
        font-size: .8rem;
    }
    .introduction button {
        font-size: .8rem;
        padding: .3rem 2rem;
    }
}