.box {
    margin: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

@media (max-width:576px) {
    .box p {
        font-size: .8rem;
    }
    .box h5 {
        font-size: 1rem;
    }
}