.company-container {
    margin: auto;
    padding-top: 5rem;
}

.company-img {
    min-height: 100px;
}

@media (max-width: 768px) {
    .company-container img {
        height: 50px;
    }
}

@media (max-width: 576px) {
    .company-container img {
        height: 30px;
    }
}