.service-box:hover {
    cursor: pointer;
}

.service-box {
    overflow: hidden;
    padding: 1rem;
}

.service-card {
    border-radius: 5px;
    transition: box-shadow 0.5s;
    will-change: transform;
    margin: 2rem;
    border: 15px solid transparent;
    min-height: 15rem;
    cursor: pointer;
}

.service-card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( 45deg, #FBD062, #009444);
    border: 15px solid #fff;
    background-size: cover;
    background-position: center center;
}