.review-form {
    width: 70%;
    padding: 3rem;
}

.review-form .form-control {
    width: 100%;
}

@media(max-width:1000px) {
    .review-form {
        width: 80%;
        padding: 3rem;
    }
}

@media(max-width:700px) {
    .review-form {
        width: 90%;
        padding: 2rem;
    }
}