.portfolio {
    min-height: 70vh;
    background-color: #111430;
}

.carousel-box {
    overflow: hidden;
}

.carousel-image img {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .portfolio h2 {
        font-size: 1.8rem;
    }
    .carousel-image img {
        width: 70%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .portfolio h2 {
        font-size: 1.4rem;
    }
    .carousel-image img {
        width: 70%;
        margin-bottom: 1rem;
    }
}