.navy-blue-text {
    color: #111430;
}

.green-text {
    color: #7AB259;
}

.brand-btn {
    background-color: #111430;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
}

.green-btn {
    background-color: #009444;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
}

.form-control {
    height: 3.5rem;
}